
services:
  postgres:
    image: postgres:latest
    container_name: alx_postgres
    environment:
     
      POSTGRES_DB: alx_cache_db
      POSTGRES_USER: alx_user
      POSTGRES_PASSWORD: alx_password
    ports:
      - "5432:5432"
    volumes:
      
      - postgres_data:/var/lib/postgresql

  
  redis:
    image: redis:latest
    container_name: alx_redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes 
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: